<?xml version="1.0" ?>
<robot name="partnet_190cb7264781df604da5feafe6f1c8fc">
	<link name="base"/>
	<link name="link_0"><!-- x, y modified -->
		<visual name="cabinet_door_surface-25"><!-- x, y modified -->
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</visual>
		<!--visual name="handle-26">
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</visual>
		<visual name="handle-26">
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</visual>
		<visual name="handle-26">
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</visual-->
		<collision>
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-65.obj"/>
			</geometry>
		</collision>
		<!--collision>
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-67.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-69.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.6681607803488558 0.5002580285072327 -0.4117648367332666"/>
			<geometry>
				<mesh filename="textured_objs/original-68.obj"/>
			</geometry>
		</collision-->
	</link>
	<joint name="joint_0" type="fixed"><!-- x modified -->
		<origin xyz="0.3681607803488558 -0.5002580285072327 0.4117648367332666"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_4"/>
		<limit lower="-0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_1"><!-- x, y modified-->
		<visual name="cabinet_door_surface-23"><!-- x modified-->
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</visual>
		<!--visual name="handle-24">
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</visual>
		<visual name="handle-24">
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</visual>
		<visual name="handle-24">
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</visual-->
		<collision>
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-59.obj"/>
			</geometry>
		</collision>
		<!--collision>
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-61.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-63.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.6813071306647132 0.5002580285072327 -0.40982595009476297"/>
			<geometry>
				<mesh filename="textured_objs/original-62.obj"/>
			</geometry>
		</collision-->
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="-0.3813071306647132 -0.5002580285072327 0.40982595009476297"/>
		<axis xyz="0 -1 0"/>
		<child link="link_1"/>
		<parent link="link_4"/>
		<limit lower="0.0" upper="1.5707963267948966"/>
	</joint>
	<link name="link_2">
		<visual name="drawer_front-18"><!-- x, y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-18"><!-- x, y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-19"><!-- x, y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-19"><!-- x, y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-20"><!-- y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-21"><!-- x, y modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-22"><!-- x modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-22"><!-- x modified -->
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</visual>
		<visual name="handle-17">
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/handle-6.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-29.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-37.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-33.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-35.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-28.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-34.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-32.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/original-31.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.3216367870406491 -0.4078478067291077 0.41649198532104537"/>
			<geometry>
				<mesh filename="textured_objs/handle-6.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin xyz="0.3216367870406491 0.4078478067291077 -0.41649198532104537"/>
		<axis xyz="0 0 0.9999999999999999"/>
		<child link="link_2"/>
		<parent link="link_4"/>
		<limit lower="0" upper="0.6400000000000001"/>
	</joint>
	<link name="link_3"><!-- x, y modified -->
		<visual name="drawer_front-11"><!-- x, y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_front-11"><!-- x, y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-12"><!-- x, y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-13"><!-- y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_side-13"><!-- y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_back-14"><!-- x, y modified -->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-15"><!-- x modified-->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</visual>
		<visual name="drawer_bottom-15"><!-- x modified-->
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</visual>
		<visual name="handle-10">
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/handle-5.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-45.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-53.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-44.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-49.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-51.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-50.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-48.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/original-47.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3642076777137352 -0.40596716406381594 0.41649198532104514"/>
			<geometry>
				<mesh filename="textured_objs/handle-5.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin xyz="-0.3642076777137352 0.40596716406381594 -0.41649198532104514"/>
		<axis xyz="0 0 0.9999999999999999"/>
		<child link="link_3"/>
		<parent link="link_4"/>
		<limit lower="0" upper="0.6400000000000001"/>
	</joint>
	<link name="link_4">
		<visual name="shelf-4"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</visual>
		<visual name="other_leaf-40"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-31"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-32"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_side_panel-32"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- x modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="vertical_front_panel-33"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-34"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="back_panel-34"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="bottom_panel-35"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-36"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</visual>
		<visual name="frame_horizontal_bar-37"><!-- x, y modified -->
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</visual>
		<!--visual name="base_side_panel-28">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-29">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-30">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</visual>
		<visual name="base_side_panel-38">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</visual-->
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-25.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-70.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-16.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-15.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-18.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-19.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-24.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-23.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-22.obj"/>
			</geometry>
		</collision>
		<!--collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-17.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-21.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-20.obj"/>
			</geometry>
		</collision-->
	</link>
	<joint name="joint_4" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_4"/>
		<parent link="base"/>
	</joint>
</robot>
